.navbar {
    background-color: #0574ac;
}

.navbar a,
.navbar a:active,
.navbar a:visited {
    color: #fff;
}

.navbar li:hover {
    background-color: #333;
}

.logo {
    background: url(assets/att_logo_color.png) center center;
    background-repeat: no-repeat;
    width: 76px;
    display: block;
    margin-left: 0px !important;
    margin-right: 10px;
}